
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetValueByCookie</title>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
</head>
<body>
    <div> 
        <span>@ViewBag.Show</span>
    </div>
</body>
</html>
